body {
  background-color: #141414;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

p {
  /* text-align: justify; */
  color: white;
  font-size: 18px;
  line-height: 1.5; /* altere este valor conforme necessário */
}

footer {
  width: 100%;
  text-align: center;
  fixed: bottom;
}

/* Estilo padrão para a classe .container */
.container {
  width: 100%;
  top: 60px;
  margin-bottom: 25px;
  left: calc(50% - 100px);
  display: flex;
}

/* Media query para aplicar as regras apenas quando a largura for menor que a altura */
@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Empilhar os cards verticalmente */
    margin-top: 20px;
  }
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* https://codepen.io/william-goldsworthy/pen/JzVajj */
.card {
  display: flex;
  height: 280px;
  width: 100%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: 0.2rem 0 0.5rem #242424;
  transition: 1s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.6s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 90px;
  transition: 0.4s ease-out;
}

/* Animação quando um card é tocado (em dispositivos móveis) */
.card-touch {
  transform: translateY(-20px);
  transition: transform 0.6s ease-out;
}

/* Animação para os cards adjacentes quando um card é tocado (em dispositivos móveis) */
.card-touch ~ .card {
  position: relative;
  left: 90px;
  transition: left 0.4s ease-out;
}

.card-img {
  margin-top: 5px;
  margin-left: 60%;
  max-width: 40%;
  height: auto;
  margin-bottom: 5px;
  border-radius: 10px;
  display: block; /* Ensure the element behaves like a block-level element */
}

.card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.card-text {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 55px;
  margin-right: 50%;
  line-height: 1;
  display: block;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
